{%load static %}
<!doctype html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="{%static 'core/home.css'%}" rel="stylesheet"/>
</head>
<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-8 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">מי אנחנו?</h2>
                    <p style="font-size:1.5vw" class="aboutus-text">אתר זה פותח ע"י קבוצת סטודנטים להנדסת תוכנה ,האתר תוכנן לתת מענה לקהילת
                        הקשישים ולצורכיהם השונים.
                        דרך האתר אפשר לקבל עזרה וסיוע ממתנדבים במגוון תחומים .
                        .</p>
                    <p class="aboutus-text"></p>
                    <a class="aboutus-more" href="/register/">הרשמה באתר</a>
                    <a class="aboutus-more" href="/login/">כניסה לחשבון שלי</a>
                    <a class="aboutus-more" href="/Contact_us/">צור איתנו קשר</a>
                    <a class="aboutus-more" href="/updates/">מצב תחזוקה</a>
                    <a class="aboutus-more" href="/about/">אודות האתר</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                    <img src="https://picresize.com/images/rsz_seniors-1505935_960_720.jpg" alt="">
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <img src="https://d2ngl0nkh8z0ib.cloudfront.net/dragonfly-uploads/2018/12/20/17/17/51/b0a6c2a7-23e5-4685-b7f3-bb07e1b2273c/Elderly_20woman_20laughing_20with_20her_20nurse-_20640_20x_20460.jpg" width="500" height="400" alt=" " />
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
